@import 'vars';
@import 'global';
@import 'fonts';


// START HEADER
.header__top-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}
.header__text{
    margin-left: auto;
    margin-right: 50px;
    span{
        color: $red;
    }
}
.header_btn{
    padding: 4px 9px;
    width: 72px;
    border-radius: 4px;
    text-align: center;
    color: #fff;
    font-size: 12px;
}
.header_btn-login{
    background-color: $green;
}
.header_btn-register{
    background-color: $red;
    margin-left: 7px;
}
.header__menu{
    background-color: $bg;
}
.menu{
    display: flex;
    align-items: center;
    height: 60px;
}
.menu__list{
    li{
        display: inline-block;
        & + li{
            margin-left: 35px;
        }
        a{
            color: #fff;
            font-size: 14px;
        }
    }
}

// END HEADER

// START SEARCH
.search{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 530px;
}
.search__inner{
    padding: 155px 0 100px;
    color: #fff;
    text-align: center;
    &-title{
        @include f700;
        font-size: 48px;
        margin-bottom: 15px;
        line-height: 72px;
    }
    &-text{
        @include f500;
        font-size: 20px;
        margin-bottom: 40px;
        line-height: 30px;
    }
    &-form{
        max-width: 670px;
        margin: 0 auto;
        position: relative;
        input{
            display: block;
            width: 100%;
            box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
            border-radius: 4px;
            height: 56px;
            border: none;
            font-size: 14px;
            @include f500;
            padding-right: 70px;
            padding-left: 25px;
            &::placeholder{
                color: #90a4ae;
                letter-spacing: 0.5px;
            }
        }
        button{
            position: absolute;
            border: none;
            background-color: transparent;
            right: 20px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}

// END SEARCH

// START PRODUCTS
.products{
    padding: 110px 0;
    background-color: $grey;
}
.products__inner-btn{
    text-align: center;
    margin-bottom: 60px;
    button{
        padding: 13px 25px;
        border: none;
        background-color: #fff;
        color: $bg;
        cursor: pointer;
        & + button{
        margin-left: 6px;
        }
    &.mixitup-control-active{
    background-color: $red;
    color: #fff;
    outline: none;
        }
    }
}
.products__inner-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.product__item{
    max-width: 442px;
    width: 100%;
    background-color: #fff;
    background-color: rgb(255, 255, 255);
    margin-bottom: 30px;
    &-img{
    min-height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: block;
    }
    &-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    min-height: 90px;
    @include f500;
    border-bottom: 1px solid #e7ecf2;
    }
    &-name{
    max-width: 310px;
    }
    &-title{
    font-size: 18px;
    color: $bg;
    display: block;
    margin-bottom: 5px;
    }
    &-category{
    display: block;
    font-size: 14px;
    color: $green;
    }
    &-price{
    font-size: 20px;
    @include f700;
    color: $bg;
    }
    &-info{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    }
    &-author{
        span{
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-position: center;
            display: inline-block;
            background-repeat: no-repeat;
            background-size: cover;
            margin-right: 14px;
        }
        font-size: 14px;
        @include f500;
        display: flex;
        align-items: center;
        max-width: 245px;
    }
}
.product__item-rate{
    span{
        color: #000;
        @include f500;
        font-size: 12px;
    }
}
.products__bottom-btn{
    text-align: center;
    button{
        margin: 45px 5px 0;
        box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);
        border: none;
        background-color: #fff;
        color: $bg;
        padding: 20px 30px;
        cursor: pointer;
        &.mixitup-control-active{
        background-color: $red;
        color: #fff;
        outline: none;
        }
    }
}

// END PRODUCTS

// START PRODUCT-SLIDER

.product-slider{
    padding: 110px 0px 120px;
}

.slick-dots{
    text-align: center;
    margin-top: 50px;
    li{
        display: inline-block;
        margin: 0px 3px;
        &.slick-active{
            button{
                background-color: $green;
            }
        }
        button{
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background-color: #e8e8e8;
            border: none;
            outline: none;
            cursor: pointer;
            font-size: 0px;
        }
    }

}

// END PRODUCT-SLIDER

// START ADVANTAGES

.advantages{
    background-color: $bg;
    padding: 125px 0px 115px;
}
.advantages_title{
    color: #fff;
    margin-bottom: 80px;
}
.advantages__inner{
    display: flex;
    justify-content: space-between;
    &-item{
        max-width: 370px;
        text-align: center;
    }
}
.advantages__item{
    &-img{
    width: 114px;
    height: 114px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 30px;
    padding: 0px 15px;
    transition: all .3s;
    }
    &-title{
        color: #fff;
        font-size: 20px;
        @include f500;
        margin-bottom: 25px;
        transition: all .3s;
    }
    &-text{
        color: #b0bec5;
    }

}
.advantages__inner-item:hover{
     .advantages__item-img{
         background-color: $green;
     }
     .advantages__item-title{
         color: $green;
     }
     .advantages__item-img{
        path{
             fill: #fff;
         }
     }

 }

// END ADVANTAGES

// START AUTHOR
.author{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.author__inner{
    background-color: $green;
    max-width: 650px;
    width: 100%;
    min-height: 215px;
    display: flex;
    justify-content: center;
    align-items: center;
    &-title{
        font-size: 30px;
        line-height: 36px;
        color: #fff;
        margin-right: 45px;
        max-width: 270px;
        span{
            @include f700;
        }
    }
    &-btn{
        font-size: 18px;
        line-height: 36px;
        padding: 14px 40px;
        background-color: #fff;
        cursor: pointer;
    }
}

// END AUTHOR

// START TUTORIAL
.tutorial{
    padding: 60px 0 120px;
}
.tutorial__inner{
    display: flex;
    justify-content: space-between;
    &-item{
        max-width: 370px;
        width: 100%;
    }
    &-img{
        min-height: 270px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    &-name{
        @include f700;
        font-size: 24px;
        background-color: #f8f8f8;
        text-align: center;
        padding: 30px 10px;
        color: $bg;
    }
}


// END TUTORIAL